<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/style2.css" rel="stylesheet" type="text/css" > 
    <title>PokeGex</title>
</head>
<body>
   <h1>Welcome to Pokegex</h1>
   <div class= medio>
       <div class="division1">
           <div class="mitad">
               <div class="foto">
                   <img class="imagen" src="../static/sprite/sprite.png" alt="Pokemon" >
               </div>
           </div>
           
           <div class="mitad">
               <div class="letra">
                   <h2>Who is that Pokemon?</h2>
                </div>  
            </div>
       </div>
       <div class="division2">
           <div class="formulario">
               <form action="/buscar" class="content" method="post">
                    <h3>ID POKEDEX: <input type="text" name="ID" size="20"></h3>
                    <p class="boton"><input type="Submit" value="Enviar"></p>
               </form>

           </div>
       </div>
   </div>
</body>
</html>